body {
    background-color: rgb(233, 130, 130);
}

.container {
    width: 600px;
    /* padding: 0 15px; */
    margin: auto;

}

.title h1 {
    font-family: sans-serif;   
    margin-top: 70px;
    font-weight: 100; 
    margin-left: 640px;
    color: aliceblue;
}

.box1 {
    width: 250px;
    height: 250px;
    background-color: aliceblue;
    border-radius: 5px;
    display: inline-block;
    margin-left: 200px;
    margin-top: 180px;
    display: inline-block;
}

.box1 h1 {
    font-family: sans-serif;  
    font-weight: 100;
    margin-left: 100px;
    padding-top: 20px;

}

.box1 p {
    color: rgb(39, 38, 38);
    font-family: sans-serif;
    font-size: 15px;
    margin-left: 68px;
    padding-top: 5px;
    
}

#box1p {
    color: rgb(233, 130, 130);

}

#box2p {
    color: rgb(233, 130, 130);

}

.box2 {
    width: 250px;
    height: 295px;
    background-color: aliceblue;
    border-radius: 5px;
    display: inline-block;
    margin-left: 90px;
    margin-bottom: -px;

    
}


.box2 h1 {
    font-family: sans-serif;  
    font-weight: 100;
    margin-left: 62px;
    padding-top: 20px;
}

